{% extends "base.html" %}
{% block title %}Match Scouting - Quickscout{% endblock %}
{% block content %}
<h1>Match scouting admin</h1>
<div class="text-center center-block">
    <p>Click on a name to remove them from that position</p>
    <p>
        <div class="btn-group-vertical" role="group" aria-label="...">
            <button type="button" data-pos="{{left}}1" class="btn {{left_color}}" {%if not position.left1%}disabled{%endif%}>{{ left.title() }} 1<br>{{ position.left1 or 'Open' }}</button>
            <button type="button" data-pos="{{left}}2" class="btn {{left_color}}" {%if not position.left2%}disabled{%endif%}>{{ left.title() }} 2<br>{{ position.left2 or 'Open' }}</button>
            <button type="button" data-pos="{{left}}3" class="btn {{left_color}}" {%if not position.left3%}disabled{%endif%}>{{ left.title() }} 3<br>{{ position.left3 or 'Open' }}</button>
        </div>
        <div class="btn-group-vertical" role="group" aria-label="...">
            <button type="button" data-pos="{{right}}3" class="btn {{right_color}}" {%if not position.right3%}disabled{%endif%}>{{ right.title() }} 3<br>{{ position.right3 or 'Open' }}</button>
            <button type="button" data-pos="{{right}}2" class="btn {{right_color}}" {%if not position.right2%}disabled{%endif%}>{{ right.title() }} 2<br>{{ position.right2 or 'Open' }}</button>
            <button type="button" data-pos="{{right}}1" class="btn {{right_color}}" {%if not position.right1%}disabled{%endif%}>{{ right.title() }} 1<br>{{ position.right1 or 'Open' }}</button>
        </div>
    </p>
    <table class="table table-condensed table-hover ">
      <thead>
        <tr>
            <th>Name</th>
            <th>Matches scouted</th>
        </tr>
      </thead>
      <tbody>
          {% for scouter in scouters %}
          <tr>
              <td>
                  {{ user_name(scouter[0]) }}
                  {% if scouter[0] in super_scouters %}
                  <span class="label label-success">Super</span>
                  <span class="label label-warning qs-promote" data-id="{{scouter[0]}}">Demote</span>
                  {% else %}
                  <span class="label label-info qs-promote" data-id="{{scouter[0]}}">Promote</span>
                  {% endif %}
              </td>
              <td>{{ scouter[1] }}</td>
          </tr>
          {% endfor %}
      </tbody>
    </table>
</div>
{% endblock %}
{% block scripts %}
{{super()}}
<script src="{{url_for('static', filename='match_admin.js')}}"></script>
{% endblock %}
