{% extends "base.html" %}
{% block title %}{{team.id}} - Quickscout{% endblock %}
{% block styles %}
{{super()}}
<link href="{{url_for('static', filename='dropzone/dropzone.css')}}" rel="stylesheet">
{% endblock %}
{% block content %}
<h1>{{team.id}} Pictures</h1>
<ol class="breadcrumb">
  <li><a href="{{url_for('main')}}">Home</a></li>
  <li><a href="{{url_for('team')}}">Teams</a></li>
  <li><a href="{{url_for('team_team', team_id=team.id)}}">{{team.id}}</a></li>
  <li class="active">Pictures</li>
</ol>
{% include 'team_pics_include.html' %}
{% endblock %}
{% block scripts %}
{{super()}}
<script src="{{url_for('static', filename='dropzone/dropzone.js')}}"></script>
{% endblock %}
